# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.run.xml
*.bbl
*.blg
*.bcf
*.bcf-SAVE-ERROR

# latexmk specific garbage
*.dvi
*-converted-to.*
*.xdv

# Editor backups
*~
*.bak

# OS
.DS_Store
Thumbs.db
